body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(212, 209, 209);
}
.header{
    background-color:cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f8ff;
    font-size: 16px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight:lighter;
    color: black;
}
.header nav::after{
    background-color: deeppink;
    border-radius: 20px;
}
#granjas{
    display: flex;
    align-content: center;
}
.container h2{
    display: flex;
    background-color: coral;
    justify-content: center;
    text-align: center;
}
.container p{
    text-align:right;
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container img{
   display: flex;
   justify-content: center;

}
#ovinos{
    display: flex;
    align-content: center;
}
.elvis h3{
    display: flex;
    background-color:rgba(139, 0, 0, 0.26);
    justify-content: center;
    text-align: center;
}
.elvis p{
    text-align:justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#ovinos video{
    width: 100vh;
    height: 50%;
    display:flex;
    justify-content: center;
    text-align: center;
    position: relative;
    
}

#camelido{
    display: flex;
    align-content: center;
}
.yuri h1{
    display: flex;
    background-color:forestgreen;
    justify-content: center;
    text-align: center;
}
.yuri p{
    text-align:justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.yuri img{
   display: inline-block;
   justify-content: center;
   align-items: center;
   border-radius: 10px;

}
#animales{
    display: flex;
    align-content: center;
}
.esque h1{
    display: flex;
    background-color:crimson;
    justify-content: center;
    text-align: center;
}
.esque p{
    display: flex;
    text-align:justify;
    justify-content: center;
}

.carta{
    display: inline-block;
    margin: 3px 4px 4px 4px;
    text-align: center;
    width: 20%;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    ), url("imagen/cuyes.jpeg");
    color: blue;
    border-radius: 30px;
    border-style:hidden;
}
button{
    background-color:blueviolet;
    box-shadow: 30px cornsilk;
    border-radius: 30px;
    border-style: dotted;

}
button:hover{
    color: cadetblue;
    background-color: chartreuse;
}
.carta:hover{
    display: inline-block;
    margin: 3px 4px 4px 4px;
    text-align: center;
    width: 32.4%;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    ), url("imagen/conejos.jpeg");
    color: aliceblue;
    border-radius: 30px;

}
#modas p{
    display:flex;
    text-decoration: double;
}
#modas.container{
    padding: 236px 148px 191px;
}
#modas{
    background-color:wheat;
    color: white;
    text-align: center;
}
#moda.carta{
    background-position: center center;
    background-size: cover;
    padding: 100px;
    margin: 80px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
     ) ,url("imagen/gallina.jpeg");  
    
}
.carta::first-line{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    ), url("imagen/cuyes.jpeg");
}

.habitacionessimples{
    width: 100%;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 20px;

}
.habitacionessimples div{
    width: auto;
    height: auto;
    background-color:rgb(154, 154, 247);
    border-radius: 30px;
}
.simple1{
    padding: 0px 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 5px;
    border-color: orange;

}
.simple2{
    grid-column: 2/4;
    background-image: url(imagen/animal\ ddd.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    border: solid 5px;
    border-color: orange;
    
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#doble{
    width: 100%;
    height: 30px;
    background-color: white;
}
.habitacionesdobles{
    width: 100%;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 20px;

}
.habitacionesdobles div{
    width: auto;
    height: auto;
    background-color:rgb(154, 154, 247);
    border-radius: 30px;
}
.doble1{
    grid-column: 1/3;
    background-image: url(imagen/camelidos.jpeg);
    background-size:100%;
    border: solid 5px;
    border-color: orange;

}
.doble2{
    grid-column: 3/4;
    padding: 0px 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 5px;
    border-color: orange;
    
}

#staff{
    width: 100%;
    height: 30px;
    background-color: white;
}
.habitacionesstaff{
    width: 100%;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 40px;

}
.habitacionesstaff div{
    width: auto;
    height: auto;
    background-color:rgb(154, 154, 247);
    border-radius: 30px;
}
.staff{
    padding: 0px 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 5px;
    border-color: orange;

}
.staff2{
    grid-column: 2/4;
    background-image: url(imagen/GATO2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 5px;
    border-color: orange;
    
}
.div::before{
    background-color: rgb(100, 237, 237);
    text-decoration: line-through;
}


#jas-footer{
    background-color: #b2b2b2;
    justify-content: flex-end;
    column-gap: 100px;
    column-width: 200px;
    color: black;
    margin: 6px;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction:column;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #granjas{
        display: flex;
        align-content: center;
    }
    .container h2{
        display: flex;
        background-color: coral;
        justify-content: center;
        text-align: center;
    }
    .container p{
        text-align:right;
        background-color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .container img{
       display: flex;
       justify-content: center;
    
    }
    #ovinos{
        display: flex;
        align-content: center;
    }
    .elvis h3{
        display: flex;
        background-color:rgba(139, 0, 0, 0.26);
        justify-content: center;
        text-align: center;
    }
    .elvis p{
        text-align:justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    #ovinos video{
        width: 100vh;
        height: 50%;
        display:flex;
        justify-content: center;
        text-align: center;
        position: relative;
        
    }
    
    #camelido{
        display: flex;
        align-content: center;
    }
    .yuri h1{
        display: flex;
        background-color:forestgreen;
        justify-content: center;
        text-align: center;
    }
    .yuri p{
        text-align:justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .yuri img{
       display: inline-block;
       justify-content: center;
       align-items: center;
       border-radius: 10px;
    
    }
    #animales{
        display: flex;
        align-content: center;
    }
    .esque h1{
        display: flex;
        background-color:crimson;
        justify-content: center;
        text-align: center;
    }
    .esque p{
        display: flex;
        text-align:justify;
        justify-content: center;
    }
    
    .carta{
        display: inline-block;
        margin: 3px 4px 4px 4px;
        text-align: center;
        width: 20%;
        background-image: linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
        ), url("imagen/cuyes.jpeg");
        color: blue;
        border-radius: 30px;
        border-style:hidden;
    }
    button{
        background-color:blueviolet;
        box-shadow: 30px cornsilk;
        border-radius: 30px;
        border-style: dotted;
    
    }
    button:hover{
        color: cadetblue;
        background-color: chartreuse;
    }
    .carta:hover{
        display: inline-block;
        margin: 3px 4px 4px 4px;
        text-align: center;
        width: 32.4%;
        background-image: linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
        ), url("imagen/conejos.jpeg");
        color: aliceblue;
        border-radius: 30px;
    
    }
    #modas p{
        display:flex;
        text-decoration: double;
    }
    #modas.container{
        padding: 236px 148px 191px;
    }
    #modas{
        background-color:wheat;
        color: white;
        text-align: center;
    }
    #moda.carta{
        background-position: center center;
        background-size: cover;
        padding: 100px;
        margin: 80px;
        border-radius: 15px;
    }
    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
         ) ,url("imagen/gallina.jpeg");  
        
    }
    .carta::first-line{
        background-image: linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
        ), url("imagen/cuyes.jpeg");
    }
    
    .div::before{
        background-color: rgb(100, 237, 237);
        text-decoration: line-through;
    }
    
    
    #jas-footer{
        background-color: #b2b2b2;
        justify-content: flex-end;
        column-gap: 100px;
        column-width: 200px;
        color: black;
        margin: 6px;
    }
}
@media screen and (min-width: 780px) and (max-width: 1024px){
    .habitacionessimples{
        width: 100%;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    
    }
    .simple1{
        grid-column: 1/5;
        grid-row: 1/2;
        
    
    
    }
    .simple2{
        grid-column: 1/5;
        grid-row: 2/3;
        
    }
    #doble{
        width: 100%;
        height: 30px;
        background-color: white;
    }
    .habitacionesdobles{
        width: 100%;
        height: 900px;
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    
    }
    .doble1{
        grid-column: 1/4;
        grid-row: 2/3;

    
    }
    .doble2{
        grid-column: 1/4;
        grid-row: 1/2;

        
    }
    
    #staff{
        width: 100%;
        height: 30px;
        background-color: white;
    }
    .habitacionesstaff{
        width: 100%;
        height: 1100px;
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    
    }

    .staff{
        grid-column: 1/4;
        grid-row: 1/2;
    
    }
    .staff2{
        grid-column: 1/4;
        grid-row: 2/3;
        
    }
    

}
@media screen and (min-width: 480px) and (max-width: 780px){
    .habitacionessimples{
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    
    }
    .simple1{
        grid-column: 1/5;
        grid-row: 1/2;
        
    
    
    }
    .simple2{
        grid-column: 1/5;
        grid-row: 2/3;
        
    }
    #doble{
        width: 100%;
        height: 0px;
        background-color: white;
    }
    .habitacionesdobles{
        width: 100%;
        height: 670px;
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        margin-bottom: 50px;
        font-size: 12px;
    
    }
    .doble1{
        grid-column: 1/4;
        grid-row: 2/3;

    
    }
    .doble2{
        grid-column: 1/4;
        grid-row: 1/2;

        
    }
    
    #staff{
        width: 100%;
        height: 5px;
        background-color: white;
    }
    .habitacionesstaff{
        width: 100%;
        height: 750px;
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    
    }

    .staff{
        grid-column: 1/4;
        grid-row: 1/2;
    
    }
    .staff2{
        grid-column: 1/4;
        grid-row: 2/3;
        
    }
  
}
@media screen and (max-width: 480px){
    .habitacionessimples{
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    
    }
    .simple1{
        grid-column: 1/5;
        grid-row: 1/3;
        
    
    
    }
    .simple2{
        grid-column: 1/5;
        grid-row: 3/4;
        
    }
    #doble{
        width: 100%;
        height: 0px;
        background-color: white;
    }
    .habitacionesdobles{
        width: 100%;
        height: 670px;
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    
    }
    .doble1{
        grid-column: 1/4;
        grid-row: 3/4;

    
    }
    .doble2{
        grid-column: 1/4;
        grid-row: 1/3;

        
    }
    
    #staff{
        width: 100%;
        height: 5px;
        background-color: white;
    }
    .habitacionesstaff{
        width: 99%;
        height: 750px;
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    
    }

    .staff{
        grid-column: 1/4;
        grid-row: 1/3;
    
    }
    .staff2{
        grid-column: 1/4;
        grid-row: 3/4;
        
    }
}    